<%= form_with(model: book) do |form| %>
  <% if book.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :isbn, style: "display: block" %>
    <%= form.number_field :isbn ,class: "form-control"%>
  </div>

  <div class="form-group">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name ,class: "form-control"%>
  </div>

  <div class="form-group">
    <%= form.label :author, style: "display: block" %>
    <%= form.text_field :author ,class: "form-control"%>
  </div>

  <div class="form-group">
    <%= form.label :year, style: "display: block" %>
    <%= form.number_field :year ,class: "form-control"%>
  </div>

  <div class="form-group">
    <%= form.label :price, style: "display: block" %>
    <%= form.text_field :price ,class: "form-control"%>
  </div>

  <div class="form-group">
    <%= form.label :status, style: "display: block" %>
    <%= form.check_box :status ,class: "form-control"%>
  </div>

  <div class="form-group">
    <%= form.label :genre, style: "display: block" %>
    <%= form.number_field :genre ,class: "form-control"%>
  </div>

  <div class="form-group">
    <%= form.submit class:"btn btn-dark btn-lg justify-content-between"%>
  </div>
<% end %>
